<div class="container">
    {{#each this}}
    <div class="comment card">
        <div class="card-header">{{user.username}}</div>
        <div class="card-body">{{body}}</div>
    </div>
    {{/each}}
</div>