<div class="card mb-6">
    <header class="card-header">
        <div class="col">
            <p class="card-text"><a href="/post/{{id}}" class="btn btn-sm">{{name}}</a></p>
        </div>
    </header>
    <div class="card-body">
        <div class="card-text">{{body}}</div>
        <div class="card-body">{{user_id}}</div>
    </div>
</div>