<section class="py-5 text-center container">
    <div class="row">
        <a href="/dashboard/new" class="col-md"><button id="newPage" class="btn btn-sm">Make new post!</button></a>
        <h1 class="fw-light col-md">My Posts:<h1>
    </div>
    <div class="container posts">
        {{#each posts as |post|}}
        {{>dashposts}}
        {{/each}}
    </div>

</section>