<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">My Posts:<h1>
                    <a href="/dashboard/new"><button id="newPage" class="btn btn-sm">Make new post!</button></a>
        </div>
    </div>
    <div class="container posts">
        {{#each posts as |post|}}
        {{>dashposts}}
        <a href="/dashboard/update/{{post.id}}"><button class="btn btn-sm">Update</button></a>
        {{/each}}
    </div>

</section>