<div class="container">
    <h1>New Post</h1>
    <form class="post-form">
        <div class="form-group">
            <label for="postName">Post Title:</label>
            <input class="form-control" name="postName" id="postName" type="text"
                placeholder="Name of your post..."></input>
        </div>
        <div class="form-group">
            <label for="postBody">Post:</label>
            <input class="form-control" name="postBody" id="postBody" type="text"
                placeholder="Create your post..."></input>
        </div>
        <button class="btn btn-sm" type="submit">Post!</button>
    </form>
</div>

<script src="../../new.js"></script>