<div class="container">
    {{> homeposts post}}

    {{#if loggedIn}}
    <form class="comment-form">
        <div class="form-group">
            <textarea class="form-control" id="commentText" rows="3" placeholder="Comment on this post"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Comment</button>
    </form>
    {{/if}}
    <div class="container">
        {{> comments post.comments}}
    </div>
    {{#if loggedIn}}
    <script src="../../comment.js"></script>
    {{/if}}
</div>