<div class="container">
    <h1>Update Post</h1>
    <form>
        <div class="form-group">
            <textarea class="form-control" id="postName" rows="1" placeholder="Post name"></textarea>
            <textarea class="form-control" id="postBody" rows="3" placeholder="Post body"></textarea>
        </div>
        <button class="btn btn-sm" type="submit">Update!</button>
    </form>
</div>

<script src="../public/update.js"></script>